body{
    margin: 0;
    padding: 0;
}
#main{
    background: none;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}
#main *{
    position: relative;
}
.mode::before , .mode2::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    clip-path: circle(0% at 52% 50%);
    width: 100%;
    height: 100%;
    transition: .5s;
  
}

.mode::before{
    background: black;
    animation:mode 1s forwards;
}
.mode2::before{
    background: white;
    animation:mode2 1s forwards;
}
@keyframes mode2{
  
    100%{
        clip-path: circle(100% at 52% 50%);
    }
  
}
@keyframes mode{
  
    100%{
        clip-path: circle(100% at 52% 50%);
    }
  
}

#frame{
    width: 100px;height: 50px;
    border-radius: 50px;
    background: rgb(0, 0, 0);
    border:1px solid white;
}

#button{
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    border:1px solid white;
    position: relative;
    left: 0px;
    top: 0px;
    transition: .5s;
    cursor: pointer;
}


.black{
    left: 49% !important;
}

.transform{
    transform: scale(1.5) !important;
}